<div class="container">
	<div class="card">
		<div class="card-header text-center">
			<h3>Edicion de Horario de Actividades</h3>
		</div>
		<div class="card-body">
			<form>
				<div class="form-group">
					<label for="id">ID</label>
					<input type="number" name="id" class="form-control" [(ngModel)]="horario.idHorario" readonly>
				</div>

				<div class="form-group">
					<label for="dia">DIA</label>
					<input type="text" name="dia" class="form-control" [(ngModel)]="horario.diaSemana">
				</div>

				<div class="form-group">
					<label for="horaIn">HORA INICIO</label>
					<input type="text" name="horaIn" class="form-control" [(ngModel)]="horario.horaInicio">
				</div>

				<div class="form-group">
					<label for="horaFin">HORA FINAL</label>
					<input type="text" name="horaFin" class="form-control" [(ngModel)]="horario.horaFin">
				</div>

				<div class="form-group">
					<label for="act">ACTIVIDAD</label>
					<input type="text" name="act" class="form-control" [(ngModel)]="horario.actividad">
				</div>

				<br>

				<button class="btn" (click)="editar()">EDITAR</button>
				<button class="btn" style="margin-left: 15px;" (click)="cancelar()">CANCELAR</button>

			</form>
		</div>
	</div>
</div>